<footer class="site-footer">

  <div class="wrapper">

   <!-- <h2 class="footer-heading">{{ site.title | escape }} &lt;!&ndash;<a href="{{ "/feed.xml" | relative_url }}">via RSS</a>&ndash;&gt;</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a target="_blank" href="{{ site.icpurl }}">{{ site.icp }}</a></li>
          <li>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602012372" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
              <img src="../../images/beian.png" style="float:left;"/>
              <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">浙公网安备 33010602012372号</p>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
